*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    font-family: arial;
}
.container{
    width: 320px;
    background-color: lightblue;
    border-radius: 20px;
    padding: 20px;
}
.container h2{
    text-align: center;
}
.container form input[type="text"]
{
    margin-top: 10px;
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    border: none;
}
.container form input[type="submit"]
{
    padding: 4px 10px;
    margin-top: 10px;
    margin-left: 90px;
}
.container .weatherContent{
    margin-top: 50px;
}
.weatherContent h3{
    text-align: center;
}
.weatherContent h4{
    text-align: center;
    margin-top: 20px;
}
.weatherContent p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}